.main {
    width: 100%;
    min-height: calc(100vh - var(--default-height-box) * 2); // Hauteur entre header et footer
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    width: 25%;
    height: 1px;
    background-color: var(--black-background);
    margin: var(--normal-spacing) 0;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}