// Atomix CSS framework
// Version: 0.0.1

// General styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: 200ms ease-in-out;
  scroll-behavior: smooth;
}

:root {
  // Colors
  --primary-color: #40798c;
  --primary-selected: #2f5d6e;
  --secondary-color: #f4a261;
  --secondary-selected: #e76f51;
  --tertiary-color: #2a9d8f;
  --tertiary-selected: #206a5d;
  --black-text: #333;
  --white-text: #fff;
  --black-background: #333;
  --white-background: #fff;
  --black: #000;
  --white: #fff;
  --denied: #808080ff;
  // Font
  --small-paragraph: 1.0rem;
  --normal-paragraph: 1.4rem;
  --big-paragraph: 1.7rem;
  --bigger-paragraph: 2.2rem;
  --biggest-paragraph: 3.0rem;
  --small-subtitle: 1.4rem;
  --normal-subtitle: 2.2rem;
  --big-subtitle: 3.0rem;
  --biggest-subtitle: 3.3rem;
  --small-title: 2.2rem;
  --normal-title: 3.0rem;
  --big-title: 4.6rem;
  --biggest-title: 6.2rem;
  // Spacing
  --small-spacing: 0.8rem;
  --normal-spacing: 1.6rem;
  --big-spacing: 3.2rem;
  // Special
  --border-radius: 0.4rem;
  --default-height-box: 9vh;
  // Default buttons
  --button-width: 100px;
  --button-height: 40px;
  --success-color: #28a745;
  --success-color-selected: #218838;
  --danger-color: #dc3545;
  --danger-color-selected: #c82333;
  --warning-color: #ffc107;
  --warning-color-selected: #e0a800;
  --info-color: #17a2b8;
  --info-color-selected: #138496;
  --light-color: #f8f9fa;
  --light-color-selected: #c3c6ca;
  --dark-color: #343a40;
  --dark-color-selected: #23272b;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white);
}

.body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white-background);
  color: var(--black-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small .link {
  font-size: var(--small-paragraph);
}

.normal .link {
  font-size: var(--normal-paragraph);
}

.big .link {
  font-size: var(--big-paragraph);
}

.bigger .link {
  font-size: var(--bigger-paragraph);
}

.biggest .link {
  font-size: var(--biggest-paragraph);
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  color: var(--primary-selected);
}

// Header styles

.header {
  width: 100%;
  height: var(--default-height-box);
  display: flex;
  align-items: center;
  padding: 1.5vh 10vw;
  background-color: var(--black-background);
  color: var(--white);

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

.navbar {
  width: 100%;
  display: flex;
}

.navbar .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand .link {
  width: 100%;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: row;*
  align-items: center;
}

.link .logo {
  width: 40px;
  height: 40px;
  margin: 0 1vw 0 0;
}

.link .name {
  width: 100%;
  font-size: var(--big-paragraph);
  margin: 0 0 0 1vw;
}

.link .separator:last-child {
  flex-grow: 1;
}

.navbar .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.navbar .menu .item {
  margin: 0 1vw;
}

.navbar .menu .item .link {
  color: var(--white);
  text-decoration: none;
}

.navbar .menu .item .link:hover {
  color: var(--primary-color);
}

.navbar .separator {
  flex-grow: 1;
}

.navbar .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .icons .icon {
  color: var(--white);
  text-decoration: none;
  font-size: var(--big-paragraph);
  margin: 0 0 0 1vw;
}

.navbar .icons .icon i {
  width: 40px;
  height: 40px;
}

.navbar .icons .icon:hover {
  color: var(--primary-color);
}

// Main styles

.main {
  width: 100%;
  min-height: calc(100vh - var(--default-height-box) * 2); /* Hauteur entre header et footer */
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// Footer styles

.footer {
  width: 100%;
  height: var(--default-height-box);
  padding: var(--small-spacing) 0;
  background-color: var(--black-background);
  color: var(--white);
}

.footer .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer .content .copyright {
  text-align: center;
}

// Special styles

.center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  width: 25%;
  height: 1px;
  background-color: var(--black-background);
  margin: var(--normal-spacing) 0;
}

// Size styles

// Small

.title.small {
  font-size: var(--small-title);
}

.subtitle.small {
  font-size: var(--small-subtitle);
}

.paragraph.small {
  font-size: var(--small-paragraph);
}

.link.small {
  font-size: var(--small-paragraph);
}

// Normal

.title.normal,
.title {
  font-size: var(--normal-title);
}

.subtitle.normal,
.subtitle {
  font-size: var(--normal-subtitle);
}

.paragraph.normal,
.paragraph {
  font-size: var(--normal-paragraph);
}

.link.normal,
.link {
  font-size: var(--normal-paragraph);
}

// Big

.title.big {
  font-size: var(--big-title);
}

.subtitle.big {
  font-size: var(--big-subtitle);
}

.paragraph.big {
  font-size: var(--big-paragraph);
}

// Bigger

.title.bigger {
  font-size: var(--biggest-title);
}

.subtitle.bigger {
  font-size: var(--biggest-subtitle);
}

.paragraph.bigger {
  font-size: var(--bigger-paragraph);
}

// Biggest

.title.biggest {
  font-size: var(--biggest-title);
}

.subtitle.biggest {
  font-size: var(--biggest-subtitle);
}

.paragraph.biggest {
  font-size: var(--biggest-paragraph);
}

// Separator styles

.separator {
  width: 100%;
  height: 1px;
  background-color: transparent;
  margin: var(--normal-spacing) 0;
}

.small.separator {
  width: 100%;
  height: 1px;
  background-color: transparent;
  margin: var(--small-spacing) 0;
}

.big.separator {
  width: 100%;
  height: 1px;
  background-color: transparent;
  margin: var(--big-spacing) 0;
}

// Button container styles

.buttons.horizontal {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons.vertical {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// Button styles

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.8em 1.5em;
  margin: 0.5vh 0;
  min-width: 120px;
  background-color: transparent;
  border: 1px solid var(--primary-selected);
  color: var(--primary-selected);
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}

.button.primary,
.button.secondary,
.button.tertiary,
.button.success,
.button.danger,
.button.warning,
.button.info,
.button.light,
.button.dark {
  width: auto;
  min-width: 120px;
  padding: 0.8em 1.5em;
  font-size: 1rem;
}


.button.denied {
  background-color: transparent;
  border: 1px solid var(--denied);
  color: var(--denied);
  cursor: not-allowed;
}

.button.denied:hover {
  background-color: transparent;
  border: 1px solid var(--denied);
  color: var(--denied);
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--primary-selected);
  border: 1px solid var(--primary-selected);
  color: var(--white-text);
}

.button:active {
  background-color: var(--primary-selected);
  color: var(--white-text);
}

.button.primary {
  width: var(--button-width);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-text);
}

.button.primary:hover {
  border: 1px solid var(--primary-selected);
  background-color: var(--primary-selected);
  color: var(--white-text);
}

.button.primary:active {
  border: 1px solid var(--primary-selected);
  background-color: var(--primary-selected);
  color: var(--white-text);
}

.button.secondary {
  width: var(--button-width);
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--white-text);
}

.button.secondary:hover {
  border: 1px solid var(--secondary-selected);
  background-color: var(--secondary-selected);
  color: var(--white-text);
}

.button.secondary:active {
  border: 1px solid var(--secondary-selected);
  background-color: var(--secondary-selected);
  color: var(--white-text);
}

.button.tertiary {
  width: var(--button-width);
  border: 1px solid var(--tertiary-color);
  background-color: var(--tertiary-color);
  color: var(--white-text);
}

.button.tertiary:hover {
  border: 1px solid var(--tertiary-selected);
  background-color: var(--tertiary-selected);
  color: var(--white-text);
}

.button.tertiary:active {
  border: 1px solid var(--tertiary-selected);
  background-color: var(--tertiary-selected);
  color: var(--white-text);
}

.button.success {
  width: var(--button-width);
  border: 1px solid var(--success-color);
  background-color: var(--success-color);
  color: var(--white-text);
}

.button.success:hover {
  border: 1px solid var(--success-color-selected);
  background-color: var(--success-color-selected);
  color: var(--white-text);
}

.button.success:active {
  border: 1px solid var(--success-color-selected);
  background-color: var(--success-color-selected);
  color: var(--white-text);
}

.button.danger {
  width: var(--button-width);
  border: 1px solid var(--danger-color);
  background-color: var(--danger-color);
  color: var(--white-text);
}

.button.danger:hover {
  border: 1px solid var(--danger-color-selected);
  background-color: var(--danger-color-selected);
  color: var(--white-text);
}

.button.danger:active {
  border: 1px solid var(--danger-color-selected);
  background-color: var(--danger-color-selected);
  color: var(--white-text);
}

.button.warning {
  width: var(--button-width);
  border: 1px solid var(--warning-color);
  background-color: var(--warning-color);
  color: var(--white-text);
}

.button.warning:hover {
  border: 1px solid var(--warning-color-selected);
  background-color: var(--warning-color-selected);
  color: var(--white-text);
}

.button.warning:active {
  border: 1px solid var(--warning-color-selected);
  background-color: var(--warning-color-selected);
  color: var(--white-text);
}

.button.info {
  width: var(--button-width);
  border: 1px solid var(--info-color);
  background-color: var(--info-color);
  color: var(--white-text);
}

.button.info:hover {
  border: 1px solid var(--info-color-selected);
  background-color: var(--info-color-selected);
  color: var(--white-text);
}

.button.info:active {
  border: 1px solid var(--info-color-selected);
  background-color: var(--info-color-selected);
  color: var(--white-text);
}

.button.light {
  width: var(--button-width);
  border: 1px solid var(--light-color);
  background-color: var(--light-color);
  color: var(--black-text);
}

.button.light:hover {
  border: 1px solid var(--light-color-selected);
  background-color: var(--light-color-selected);
  color: var(--black-text);
}

.button.light:active {
  border: 1px solid var(--light-color-selected);
  background-color: var(--light-color-selected);
  color: var(--black-text);
}

.button.dark {
  width: var(--button-width);
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  color: var(--white-text);
}

.button.dark:hover {
  border: 1px solid var(--dark-color-selected);
  background-color: var(--dark-color-selected);
  color: var(--white-text);
}

.button.dark:active {
  border: 1px solid var(--dark-color-selected);
  background-color: var(--dark-color-selected);
  color: var(--white-text);
}

// Responsive styles

@media screen and (max-width: 768px) {
  .header {
    padding: 1.5vh 5vw;
  }

  .navbar .brand .link .title {
    font-size: var(--normal-paragraph);
  }

  .navbar .menu .item .link {
    font-size: var(--normal-paragraph);
  }

  .navbar .icons .icon {
    font-size: var(--normal-paragraph);
  }

  .main {
    width: 90%;
  }

  .button {
    padding: 0.6em 1.2em;
    min-width: 100px;
    font-size: 0.9rem;
    border-radius: 4px;
  }

  .button.primary,
  .button.secondary,
  .button.tertiary,
  .button.success,
  .button.danger,
  .button.warning,
  .button.info,
  .button.light,
  .button.dark {
    padding: 0.6em 1.2em;
    min-width: 100px;
    font-size: 0.9rem;
  }
}

// Dark mode

.body.dark {
  background-color: var(--black-background);
  color: var(--white-text);

  .header {
      background-color: var(--black-background);
      color: var(--white-text);
  }

  .navbar .brand .link .title {
      color: var(--white-text);
  }

  .navbar .menu .item .link {
      color: var(--white-text);
  }

  .navbar .icons .icon {
      color: var(--white-text);
  }

  .navbar .icons .icon:hover {
      color: var(--primary-color);
  }

  .main {
      background-color: var(--black-background);
      color: var(--white-text);
  }

  .line {
      background-color: var(--white-text);
  }

  .footer {
      background-color: var(--black-background);
      color: var(--white-text);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .body {
    background-color: var(--black-background);
    color: var(--white-text);
  }

  .header {
    background-color: var(--black-background);
    color: var(--white-text);
  }

  .footer {
    background-color: var(--black-background);
    color: var(--white-text);
  }

  .navbar .brand .link .title {
    color: var(--white-text);
  }

  .navbar .menu .item .link {
    color: var(--white-text);
  }

  .navbar .icons .icon {
    color: var(--white-text);
  }

  .navbar .icons .icon:hover {
    color: var(--primary-color);
  }

  .line {
    background-color: var(--white-text);
  }
}